.AllTicketsMainDiv {
  
  width: 80%;

  min-height: 400px;
  margin: auto;
  margin-top: 100px;
}

.BusDiv {
   gap: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.MainDetailsDiv {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border-radius: 8px;
  margin: auto;
  display: flex;
  gap: 7px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.MainDetailsDiv p {
  text-transform: uppercase;
  text-align: start;
  font-weight: 600;
}
.MainDetailsDiv h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.MainDetailsDiv img {
  cursor: pointer;
  width: 200px;
  margin: auto;
  height: 100px;
}

#BusNumberDiv {
  /* padding: 3px 5px; */
  display: flex;
  justify-content: space-between;
}

#BusNumberDiv button {
  /* border: 1px solid red; */
  color: red;
  font-weight: bolder;
  padding: 3px 5px;
  background: gainsboro;
  border-radius: 3px;
}
.BudBookingDiv{
     display: flex;
    gap: 10px;
}
.PriceDiv{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
   background: rgb(199, 197, 197);
   color: black;
   font-weight: bolder;
   font-size: 20px;
   border-radius: 4px;
   padding: 1px 10px;
   cursor: pointer;
}
.MainDetailsDivModal{
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  padding: 10px;
  border-radius: 8px;
  margin: auto;
  width: 90%;
  display: flex;
  gap: 7px;
  flex-direction: column;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.MainDetailsDivModal p {
  text-transform: uppercase;
  text-align: start;
  font-weight: 600;
}
.MainDetailsDivModal h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.MainDetailsDivModal img {
  cursor: pointer;
  width: 250px;
  margin: auto;
  height: 150px;
}

form{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  padding: 15px 20px;
  gap:10px;
  width: 95%;
  margin: auto;
}

.FilterDiv{
  /* border: 1px solid red; */
  text-align: end;
  width: 95%;
  margin: auto;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: end;
  justify-content: end;
}
.FilterDiv button{
 border: 1px solid gray;
 padding: 4px 10px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 border-radius: 5px;
}



 @media (max-width: 768px) {
  .AllTicketsMainDiv {
  
    width: 90%;
  
    min-height: 400px;
    margin: auto;
    margin-top: 100px;
  }
  .MainDetailsDiv{
     width: 90%;
    }
    .BusDiv {
    width: 100%;
     }
}

/* CSS code for mobile screens */
@media (max-width: 480px) {
  .AllTicketsMainDiv {
  
    width: 95%;
  
    min-height: 400px;
    margin: auto;
    margin-top: 100px;
   }
  .MainDetailsDiv{
   width: 90%;
  }
  .BusDiv {
  width: 100%;
   }
   form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    display: flex;
    padding: 15px 20px;
    gap:10px;
    flex-direction:column;
    width: 95%;
    margin: auto;
  }
  .FilterDiv{
    /* border: 1px solid red; */
    text-align: end;
    width: 95%;
    margin: auto;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    align-items: end;
    justify-content: center;
  }
}